# Ignore object files
*.o

# Ignore static and shared libraries
*.a
*.so
*.so.*

# Ignore clang-format files
.clang-format
.vscode
CMakeLists.txt

# Ignore localisation files
*.po
*.mo

# Ingnore configurations
*.json

build